.button {

    font-family: Verdana;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;

    width: 6rem;
    height: 6rem;

    margin: 0.75rem 0.25rem;

    border: none;
    border-radius: 50%;

    /* box-shadow: 0 1px 0 rgb(0, 0, 0, 0.5); */
    box-shadow: inset 1px 1px 1px rgb(255, 255, 255, 0.5), 4px 4px 2px rgb(0, 0, 0, 0.5);
}

/* CSS for numbers 0-9 and . */
.numberButtons {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
}

    .numberButton{
        background-color: #184379;
    }

    .numberButtons .zero {
        width: 14rem;
        border-radius: 8rem;
        border-radius: 8rem;
    }


/* CSS for operator buttons on right hand side */
.operatorButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 25%;
    height: 100%;
}

.operatorButton{
    background-color: #237293;
}

/* CSS for special buttons above the number buttons */
.specialButtons{
    display: flex;
    justify-content: space-between;
}

    .specialButton{
    background-color: #225d9e;
}